.nav-link{
    color: white;
}
.nav-link:hover{
    color: red;
}
.back{
    width: 100vw; 
    margin-top: 2%;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: whitesmoke;
    border-width: 0.1em;
    padding-bottom: none;
    background-color: whitesmoke;
    
}
.imj-accueil{
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
    background-image: url("./app-sms.jpeg");
}
.sms{
    color:blue;
    font-weight: bolder;
    font-size: 4em;
    padding-top: 5%;
    padding-left: 10%;
}
.carte-une{
    background-image: url("./background.jpg");
}