
.nav-link{
    color: white;
}
.nav-link:hover{
    color: red;
}
.back{
    width: 100vw; 
    height: 65vh;
    margin-top: 2%;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: rgba(238, 232, 232, 0.801);
    border-width: 0.01em;
    padding-bottom: none;
    background-color: whitesmoke;
    
}
.imj-accueil{
    background-size: contain;
    background-repeat: no-repeat;
    height: 80vh;
    background-image: url("../assets/app-sms.jpeg");
}
.sms{
    color:blue;
    font-weight: bolder;
    padding-top: 20%;
    padding-left: 10%;
}
